* {
    margin: 0;
}

body {
    background-image: url(./viagem.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;
}

span {
    color: #DB2777;
}

h3 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    margin-bottom: 4px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
}

a {
    text-decoration: none;
    padding: 16px 32px;
}

#link-travel {
    background: #DB2777;
    border-radius: 80px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#link-read {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #151718;
}